<!DOCTYPE html>
<head>
    <style>


</style>
</head>
<html>

<body>
<h1 align="center"> yaml to json to xml </h1>

<form method="POST" action="">
    <table style="border-spacing: 25px;">
        <tr>
            <td><h3>yaml</h3></td>
            <td><h3>json</h3></td>
            <td><h3>xml</h3></td>

        </tr>
        <tr>
            <td><textarea class="box1" id="box1" name="box1" rows="22" cols="62">
            {{a}}
                </textarea></td>
        <td><textarea class="box2" id="box2" name="box2" rows="22" cols="62">{{x}}</textarea></td>
<!--    </table>-->
<!--    <table>-->
        <td><textarea class="box3" id="box3" name="box3" rows="22" cols="62">{{y}}</textarea></td>
        </tr>

    </table>
    <button type="submit" style="margin: auto; display: block;">CONVERT</button>
</form>
</body>
</html>

